<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>오공주 마니또</h1>
    <form action="/result" method="post">
        {% csrf_token %} 
        <input type="text" name="name">
        <input type="submit" value="마니또를 알아보자" text="마니또를 알아보자">
    </form>
    
    <a href="/reset">마니또 초기화</a>
    

</body>
</html>